@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.primary-btn {
    background: #0077cc;
    color: white;
}

.primary-btn:hover:not(:disabled) {
    background: #005fa3;
    transform: translateY(-1px);
}

.secondary-btn {
    background: #6c757d;
    color: white;
}

.secondary-btn:hover:not(:disabled) {
    background: #545b62;
    transform: translateY(-1px);
}
